ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 20px;
  justify-items: center;
}

/* li {
  margin-right: 0px 10px;
} */

nav a {
  text-decoration: none;
  color: #000000;
  background: #eee;
  padding: 10px 20px;
  display: block;
}
